* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat_bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url('fonts/MontserratAlternates-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url('fonts/MontserratAlternates-Bold.ttf');
    font-weight: bold;
}

body {
    font-family: 'MontserratAlternates', 'Montserrat', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




header {
    min-height: 60px;
    background-color: #968FEB;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

.header__title {
    color: #f8f8f8;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.header__item {
    color: #f8f8f8;
    font-size: 32px;
    text-decoration: none;
    border-left: 3px solid #f8f8f8;
    padding-left: 10px;
    margin-right: 10px;
}

.header__title:hover {
    text-decoration: underline;
}

.header__item:hover {
    text-decoration: underline;
}





main {
    flex-grow: 1;
    margin: 30px 30px;

}

.main__container {
    margin: auto;
    width: auto;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main__title {
    font-size: 32px;
    font-weight: bold;
    color: #675BF2;
    margin-bottom: 20px;
}

.main__in {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.main__in__text-block {
    width: 800px;
    /* height: 500px; */
    height: auto;
    background-color: #F1F1F1;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;

    box-shadow: 3px 3px 5px #dadada;
}

.main__in__photo-load-block {
    display: flex;
    flex-direction: column;

}

.main__in__text-block__title {
    font-size: 16px;
    color: #002A95;
    margin-bottom: 5px;
}

.main__in__sendbtn {
    width: 200px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    background-color: #506FDB;
    color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 20px;
}

.main__in__sendbtn:hover {
    cursor: pointer;
    border: 4px solid #506FDB;
    background-color: #F1F1F1;
    color: #506FDB;
    
}

.main__in__photo-block {
    width: 450px;
    min-height: 400px;
    background-color: #F1F1F1;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;

    box-shadow: 3px 3px 5px #dadada;
}

.main__in__photo-name {
    margin-bottom: 10px;
}

.main__in__photo {
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 20px;
}












.main__partition {
    max-width: 1300px;
    border-top: 10px solid #A7EB8F;
    margin-bottom: 40px;
}

.main__out {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.main__out__photo-block {
    width: 450px;
    min-height: 300px;
    background-color: #F1F1F1;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;

    box-shadow: 3px 3px 5px #dadada;
}

.main__out__photo {
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 20px;
}

.main__out__text-block {
    width: 800px;
    padding: 30px;
    box-sizing: border-box;
    height: auto;
    background-color: #F1F1F1;
    border-radius: 15px;
    margin-bottom: 10px;

    box-shadow: 3px 3px 5px #dadada;
}

.main__out__text-block__name{
    font-size: 20px;
    font-weight: bold;
    color: #675BF2;
    margin-bottom: 10px;
}

.main__out__text-block__accuracy {
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
}


footer {
    color: #514d82;
    min-height: 60px;
    background-color: #968FEB;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.fileInputLabel {
    display: inline-block;
    height: 40px;
    background-color: #D9D9D9;
    color: #7E7E7E;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
}

.fileInput {
    display: none;
}

.fileNameDisplay {
    margin-top: 10px;
}

.filebutton {
    width: 100px;
    height: 100%;
    background-color: #c694dd;
    color: #A931E1;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

















.main__in__checkbocks {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .custom-checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .custom-checkbox + label {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    font-size: 16px;
  }
  
  .custom-checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 3px;
  }
  
  .custom-checkbox:checked + label:before {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .custom-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }









.main__select-block {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.main__select {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #F1F1F1;
}
